* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  line-height: 20px;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}
body {
  background-color: #333;
}
/* start navbar */
.heading--container {
  width: 100%;
  padding-bottom: 128px;
  background-color: #09040f;
  background-image: linear-gradient(360deg, #09040f, rgba(0, 0, 0, 0.5)),
    linear-gradient(
      140deg,
      #0c86ee,
      #6a59ff 22%,
      rgba(239, 69, 179, 0.6) 38%,
      #03395d 57%,
      #142f5a 75%,
      #011c34
    );
}
.warper {
  width: 86%;
  margin: 0 auto;
}
.navbar--warp {
  height: 80px;
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsla(0, 0%, 86.7%, 0);
}
nav {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo {
  justify-self: flex-start;
  text-decoration: none;
}
nav .logo img {
  width: 180px;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  padding-left: 35px;
  display: inline-block;
  justify-content: space-around;
}
nav ul li a {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
}
nav ul li a:hover,
a:active {
  padding: 4px 0px;
  border-bottom: 2px solid #edc6ff;
  color: #edc6ff;
  text-shadow: 0 1px 6px rgba(237, 198, 255, 0.5);
}
/* end navbar */

/* start banner */
.banner--area {
  margin-top: 50px;
  /* margin-bottom: 128px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.banner-text {
  width: 50%;
}
.banner-text h1 {
  margin-bottom: 16px;
  font-family: "TerminaW00-Demi", sans-serif;
  line-height: 77px;
  font-weight: bold;
  font-size: 64px;
  color: #ffffff;
}
.heading-3 {
  font-family: "Work Sans", sans-serif;
  line-height: 30px;
  font-weight: 500;
  font-size: 20px;
  color: rgba(238, 121, 226, 0.8);
}

.learnmore {
  margin-top: 32px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.learnmore p {
  font-family: "Work Sans", sans-serif;
  line-height: 24px;
  font-weight: 500;
  font-size: 16px;
  color: #c0a1d2;
}
.a-button {
  margin-left: 20px;
  padding: 12px 16px;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  background-color: #6a59ff;
}
.a-button.b-button {
  min-width: 160px;
  margin-right: 24px;
  margin-left: 0px;
  padding: 16px 24px;
  text-align: center;
}
.c-button {
  padding: 9px 15px;
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 0;
  line-height: inherit;
  cursor: pointer;
  border-radius: 0;
  background-color: #3898ec;
}
.banner-image {
  width: 46%;
}
.banner-image img {
  width: 100%;
}
/* end banner */

/* start info */
.info--container {
  background-color: #09040f;
  max-width: 100%;
}
.info--area {
  margin-bottom: 128px;
}
.info-warper {
  width: 65%;
  margin-bottom: 32px;
  display: inline-block;
}
.heading-1 {
  margin-bottom: 16px;
  font-family: "TerminaW00-Demi", sans-serif;
  line-height: 48px;
  font-weight: 700;
  font-size: 40px;
  color: #ffffff;
}
.heading-3 {
  margin-bottom: 16px;
  font-family: "Work Sans", sans-serif;
  line-height: 30px;
  font-weight: 500;
  font-size: 20px;
  color: rgba(238, 121, 226, 0.8);
}
.content-heading-4 {
  padding-bottom: 16px;
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
  line-height: 19px;
  font-weight: 500;
  font-size: 16px;
  color: #6a59ff;
}

/* start mini-info */
.grid {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.mini-info {
  padding: 32px;
  border: 1px solid #28263a;
  border-radius: 8px;
  background-color: #181628;
}
.circle {
  display: flex;
  width: 80px;
  height: 80px;
  margin-bottom: 24px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: rgba(255, 26, 232, 0.1);
}
.red {
  background-color: rgba(255, 52, 26, 0.1);
}
.dark-blue {
  background-color: rgba(48, 26, 255, 0.1);
}
.blue {
  background-color: rgba(26, 159, 255, 0.1);
}
.green {
  background-color: rgba(26, 255, 45, 0.1);
}
.yellow {
  background-color: rgba(255, 163, 26, 0.1);
}
.emoji {
  font-size: 32px;
  line-height: 32px;
  cursor: default;
}
.mini-info .title {
  margin-bottom: 16px;
  font-family: "Work Sans", sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 100%;
  font-weight: 700;
}
.mini-info .content {
 
}
/* end mini-info */
/* end info */
/* clearfix */
/* start info */
.feature {
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 18px;
}
.tick-embed {
  margin-right: 14px;
}
.bullet-point {
  margin-bottom: 4.5px;
}
.info-img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
.grid-container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
}
.alo{
  -ms-grid-column-align: end;
    justify-self: end;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}