* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  line-height: 20px;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}
html {
  background-color: #333;
}

/* grid layout */
.grid-container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: auto auto; */
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.grid-layout-left {
  /* align-items: start; */
  grid-template-rows: auto;
  justify-self: end;
  align-self: center;
}
.grid-layout-right {
  justify-self: end;
  align-self: center;
}
.grid-ram {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.grid-card-3 {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
}
.grid-card-2 {
  grid-template-columns: auto;
  grid-gap: 16px;
}
/* end grid layout */
/* ================================= */

/* flex-layout */
.flex-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.flex-right {
  /* min-width: 300px; */
  flex: 1 1 340px;
}
.flex-left {
  flex: 1 0;
}
.collumn {
  flex-direction: column;
  gap: 0;
}
/* ================================= */

/* global warper style */
.warper {
  max-width: 1144px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 32px;
  padding-right: 32px;
}
.heading--container {
  padding-bottom: 128px;
  background-color: #09040f;
  background-image: linear-gradient(360deg, #09040f, rgba(0, 0, 0, 0.5)),
    linear-gradient(
      140deg,
      #0c86ee,
      #6a59ff 22%,
      rgba(239, 69, 179, 0.6) 38%,
      #03395d 57%,
      #142f5a 75%,
      #011c34
    );
}
.section--container {
  max-width: 100%;
  background-color: #09040f;
}
.info--area {
  padding-top: 96px;
  padding-bottom: 96px;
}
/* end warper style */
/* ================================= */

/* nav bar */
.navbar--warp {
  height: 80px;
  max-width: 1144px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
  padding-bottom: 120px;
  background-color: hsla(0, 0%, 86.7%, 0);
}
nav {
  max-width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo {
  justify-self: flex-start;
  text-decoration: none;
}
nav .logo img {
  width: 180px;
}
.head-navbar ul {
  list-style-type: none;
}
.list li {
  padding-left: 35px;
  display: inline-block;
  justify-content: space-around;
}
.list li a {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
}
.head-navbar ul li a:hover,
a.active {
  padding: 4px 0px;
  border-bottom: 2px solid #edc6ff;
  color: #edc6ff;
  text-shadow: 0 1px 6px rgba(237, 198, 255, 0.5);
}

/* end navbar */
/* ===================================== */

/* global text-style */
.heading-1 {
  margin-bottom: 16px;
  font-family: "TerminaW00-Demi", sans-serif;
  line-height: 48px;
  font-weight: 700;
  font-size: 40px;
  color: #ffffff;
}
.heading-3 {
  margin-bottom: 16px;
  font-family: "Work Sans", sans-serif;
  line-height: 30px;
  font-weight: 500;
  font-size: 20px;
  color: rgba(238, 121, 226, 0.8);
}
.content-heading-4 {
  padding-bottom: 16px;
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
  line-height: 19px;
  font-weight: 500;
  font-size: 16px;
  color: #6a59ff;
}
.width {
  max-width: 756px;
}
/* end text-style */
/* ===================================== */

/* banner style */
.banner-heading {
  margin-bottom: 16px;
  font-family: "TerminaW00-Demi", sans-serif;
  line-height: 77px;
  font-weight: bold;
  font-size: 64px;
  color: #ffffff;
}
.learnmore {
  margin-top: 32px;
  align-items: center;
}
.learnmore p {
  font-family: "Work Sans", sans-serif;
  line-height: 24px;
  font-weight: 500;
  font-size: 16px;
  color: #c0a1d2;
}

/* button style */
.a-button {
  margin-left: 20px;
  padding: 12px 16px;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  background-color: #6a59ff;
}
.a-button.b-button {
  min-width: 160px;
  /* margin-right: 24px; */
  margin-left: 0px;
  padding: 16px 24px;
  text-align: center;
}
.c-button {
  padding: 9px 15px;
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 0;
  line-height: inherit;
  cursor: pointer;
  border-radius: 0;
  background-color: #3898ec;
}
/* end button style */
.img-width {
  max-width: 100%;
}
/* ===================================== */

/* section style */
.card {
  padding: 32px;
  border: 1px solid #28263a;
  border-radius: 8px;
  background-color: #181628;
}
.card-title {
  color: #fff;
  font-size: 24px;
  line-height: 100%;
  font-weight: 700;
}
.card-content {
  font-family: "Work Sans", sans-serif;
  color: #c0a1d2;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
}
.card-white {
  color: #fff;
}
/* icon style */
.circle {
  display: flex;
  width: 80px;
  height: 80px;
  margin-bottom: 24px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: rgba(255, 26, 232, 0.1);
}
.red {
  background-color: rgba(255, 52, 26, 0.1);
}
.dark-blue {
  background-color: rgba(48, 26, 255, 0.1);
}
.blue {
  background-color: rgba(26, 159, 255, 0.1);
}
.green {
  background-color: rgba(26, 255, 45, 0.1);
}
.yellow {
  background-color: rgba(255, 163, 26, 0.1);
}
.emoji {
  font-size: 32px;
  line-height: 32px;
  cursor: default;
}
/* end icon style */
/* ===================================== */
.feature {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 18px;
}
.tick-embed {
  margin-right: 14px;
  margin-top: 18px;
}
.bullet-point {
  margin-top: 12px;
}
.lessor-space {
  margin-bottom: 16px;
}
.not-a-card {
  padding: 0 !important;
}
.white-highlight {
  color: #fff;
}
.mediaQ-1 {
  grid-template-columns: 0.75fr 1fr;
  padding-right: 16px;
}
@media screen and (max-width: 991px) {
  .mediaQ-1 {
    grid-template-columns: 1fr;
  }
}
.mediaQ-2 {
  grid-template-columns: 1fr 0.75fr;
  padding-right: 16px;
}
@media screen and (max-width: 991px) {
  .mediaQ-2 {
    grid-template-columns: 1fr;
  }
}
.price {
  display: inline-block;
  margin-right: 16px;
  margin-bottom: 16px;
  font-family: "Work Sans", sans-serif;
  color: #ee79e2;
  font-size: 48px;
  line-height: 100%;
  font-weight: 800;
}
.secondary {
  color: rgba(255, 255, 255, 0.4);
  font-size: 24px;
  font-weight: 500;
}
.remind-paragraph p {
  line-height: 150%;
  margin-top: 16px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
}
.equal-col {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
}
.footer {
  background-image: linear-gradient(180deg, #090510, #231e3a);
}
.footer-link .list li {
  padding-left: 0;
}

.footer-link .list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-link a {
  margin-left: 24px;
  transition: color 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  font-family: "Work Sans", sans-serif;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}
.footer-link .list {
  margin-left: 24px;
  transition: color 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
}
/* ===============================================================================================
================================================================================================== */
/* Community style */
.banner-image {
  text-align: center;
}
.c-banner-image {
  width: 600px;
}
